<div class="sign-in-component">
  <div class="d-flex flex-row-reverse w-100 content">
    <div class="content--side">
      <div class="registration-form">
        <header>
          <h1>Sign in</h1>
          <p>Fill in all information</p>
        </header>
        <form novalidate #f="ngForm">
          <div class="input-section email-section" [ngClass]="{'folded-up':emailFoldedUp }">
            <input class="email" type="email" name="email" placeholder="ENTER YOUR E-MAIL HERE" autocomplete="off"
                   (input)="emailInputHandler()" [(ngModel)]="signInfo.email"/>
            <div class="animated-button">
              <span class="icon-paper-plane" [ngClass]="{'next': emailAllowUp }"><fa-icon [icon]="['fas','envelope']"></fa-icon></span>
              <span class="next-button email" (click)="emailSubmitHandler()"><fa-icon [icon]="['fas','arrow-up']"></fa-icon></span>
            </div>
          </div>
          <div class="input-section password-section" [ngClass]="{'folded':!emailFoldedUp,'folded-up':passwordFoldedUp}">
            <input class="password" type="password" name="password" placeholder="ENTER YOUR PASSWORD HERE"
                   (input)="passwordInputHandler()" [(ngModel)]="signInfo.password"/>
            <div class="animated-button">
              <span class="icon-lock" [ngClass]="{'next': passwordAllowUp }"><fa-icon [icon]="['fas','lock']"></fa-icon></span>
              <span class="next-button password" (click)="passwordSubmitHandler()"><fa-icon [icon]="['fas','arrow-up']"></fa-icon></span>
            </div>
          </div>
          <div class="success" [ngStyle]="{'margin-top':emailFoldedUp&&passwordFoldedUp ? '0px' : '-75px'}">
            <p>SIGN SUCCESS</p>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex flex-column content--side">
      <div class="poster"></div>
      <div class="canvas-wrap">
        <canvas></canvas>
      </div>
    </div>
  </div>
</div>